* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 100vh;
    margin: 0 20%;
}
header {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
header h1 {
    font-size: 45px;
}
header .headimg img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.content h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
table {
    width: 100%;
    background-color: aqua;
    text-align: left;
}
.content table .upper {
    font-weight: bold;
    font-size: 25px;
}
table tr td {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    padding: 10px;
}
table tr td img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

table tr td button {
    margin-top: 60px;
    background-color: rgb(0, 132, 255);
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

table tr td button a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
